[submodule "Dependencies/CLLocation-SunriseSunset"]
	path = Dependencies/CLLocation-SunriseSunset
	url = https://github.com/BigZaphod/CLLocation-SunriseSunset.git
[submodule "Dependencies/PCHTTP"]
	path = Dependencies/PCHTTP
	url = https://github.com/pcperini/PCHTTP.git
